ai-calendar-api/.env
ai-calendar-api/AI-Calendar client secret.json
ai-calendar-api/empty.txt
ai-calendar-api/venc/
ai-calendar-api/test.py
ai-calendar-api/eventModel.py
ai-calendar-api/db
ai-calendar-api/.cosine
ai-calendar-api/venc